 .tabClass{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    top: 1rem;
} 


.tabClass1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: -2rem;
} 
table{
    position: relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0em;
    border-radius: 10px;
    border: solid lightcoral 1px;
}

/* table {
    border-collapse: separate;
    border-spacing: 0 0.2em;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
} */