<div *ngIf="!flag">
    <h1>Sign Up</h1>
    <form action="#" method="post">
        <div>
        <label for="">Username</label>
         <input #username type="text" placeholder="username">   
        </div>
        <div>
            <label for="">Password</label>
             <input #password type="text" placeholder="password">   
        </div>
        <button (click)="gotosignin(username,password)"  type="submit">Sign Up</button>
    </form>
</div>

<div *ngIf="flag" >
    <app-signin [username]="username1" [password] = "password1"></app-signin>
</div>